/* COLOR VARS */

$modal-bg: rgb(148, 148, 148);
  $nav-bg: rgb(0, 0, 0);
  $inner-section-bg:rgb(20, 20, 20);
  $section-bg: rgb(204, 204, 204);
  $poly-bg: rgb(110, 110, 110);
  
  $dark-app-bg: rgb(7, 7, 7);
  $dark-main-bg: rgb(8, 14, 20);
  $card-bg:rgb(39,39,39);
  $dark-section-bg: rgb(12, 12, 12);
  $dark-poly-bg:rgb(17, 17, 17);
  
// Light Theme
.poly{
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  background-color: $poly-bg;
}

// Dark Theme

.app-dark{
  background-color: $dark-app-bg;
}
.main-dark{
  background-color: $dark-main-bg;
  background: linear-gradient(135deg, rgba(8,14,20,1) 0%, rgba(13,23,33,1) 50%, rgba(8,14,20,1) 100%);
}
.tech-dark{
  background-color: $dark-poly-bg;
  background: linear-gradient(135deg, rgba(17,17,17,1) 0%, rgba(20,20,20,1) 45%, rgba(17,17,17,1) 100%);
}

/* MIX INS */

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Alex+Brush&display=swap");

/* SEPARATORS */

.separator{
  height: 400px;
  width: 2px;
  background-color: $inner-section-bg;
  .line{
    position: relative;
    top:50px;
    height: 300px;
    width: 2px;
    background-color: rgb(115, 115, 115);
  }
}

/* SEPARATORS END */

/* BANNER */

.banner-main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  .banner-img {
    width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
}

/* BANNER END */

/* NAVBAR */


.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0px 20px 0px 20px ;
  user-select: none;
  overflow: hidden;
  background-color: $nav-bg;
  box-shadow: 0px 1px 5px black;
  z-index: 100;
  .buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-end;
  }
  a:not(:last-child) {padding-right: 10px;}
  p {
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    font-size: medium;
    transition: all .5s;
  }
  p:hover {
    background-color: $inner-section-bg;
    transition: all .3s;
  }
}

/* NAVABR END */

/* MODAL */
.modal-clickout{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
    z-index: 500;
    .project-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    background-color: $modal-bg;
    h1{
      
    }
    p{
      
    }
    span{
      
    }
  }
}

/* MODAL END */

/* INTRO */

.intro-section {
  @include flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 100px;
  width: 100%;
  .intro-one{
    @include flex;
    flex: 1;
    width: 100%;
    height: 400px;
    background-color: $inner-section-bg;
    .one-card{
      text-align: left;
    }
    h1 {padding-bottom: 10px;}
    p{padding-bottom: 20px;}
    .one-border{
      margin-bottom: 20px;
      width: 80%;
      height: 1px;
      border-bottom: 1px solid white;
    }
    .button-text{font-size: .9rem;}
  }
  .intro-two{
    @include flex;
    flex: .8;
    height: 400px;
    width: 100%;
    background-color:$inner-section-bg;
    .two-card{
      padding: 10px;
      background-color: $card-bg;
    }
    .two-head img{width: 155px;border-radius: 50%;}
      h1{padding-bottom: 10px;}
      h2 {padding-top: 10px;letter-spacing: .5px;}
      .two-btns{
        @include flex;
        flex-direction: row;
      }
      .two-btns img{
        height: 20px;
    }
  }
}

/* INTRO END */

/* TECH  */
.tech-section{
  @include flex;
  flex-direction: row;
  padding: 100px;
  width: 100%;
  .tech-one{
    @include flex;
    height: 400px;
    flex: 1.2;
    background-color: $inner-section-bg;
    .tech-card{
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 80%;
      padding: 15px;;
      text-align: left;
      background-color: $card-bg;
      h1{padding-bottom: 5px;}
      p:not(:last-child) {padding-bottom: 10px;}
    }
  }
  .tech-two{
    @include flex;
    height: 400px;
    flex: 1;
    background-color: $inner-section-bg;
    .tech-area{
      @include flex;
      img{
        width: 300px;
      }
    }
  }
}


/* TECH END  */

/* PROJECTS  */

.projects-section{
  @include flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 130px;
  width: 100%;
  min-height: 80vh;
  .project-card{
    display: flex;
    min-width: 100%;
    min-height: 175px;
    margin: 10px;
    text-align: left;
    padding: 5px;
    background-color: $inner-section-bg;
    .project-body{
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 175px;
      padding: 15px;
      h1{
        width: 50%;
        padding-bottom:10px;
        margin-bottom: 10px;
        text-align: left;}
      p{padding-bottom:10px;}
      .foot{
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        width: 100%;
        .tags{
          span:nth-child(1){
            font-size: .8rem;
            padding-right: 15px;
            color:lighten(black, 30%);
            border: 0px solid ;
            border-radius: 0px;
          }
          span{
            margin-right: 5px;
            padding: 5px 10px 5px 10px;
            color:lighten(black, 70%);
            border: 1px solid lighten(black, 30%);
            border-radius: 5px;
            font-size: .8rem;
            user-select: none;
            cursor: default;
          }
        }
        .buttons{
          margin-left: auto;
          .button-text{font-size: .7rem;}
        }
      }
    }
  }
  .project-thumb{
  display: flex;
  justify-content: flex-end;
  img{width: 175px;}
  }
}

/* PROJECTS END  */

/* FOOTER  */

.footer-section {
  @include flex;
  padding: 20px 0px 20px 0px; 
  flex-wrap: wrap;
  width: 100%;
  background-color: $inner-section-bg;
  .footer-content {
    width: 100%;
    .buttons, h1, p, .rights{padding:5px}
    .button-text{font-size: .8rem;}
  }
}

/* FOOTER END */

/* MEDIA QUERIES */

@media (min-width:1000px){
}
@media (max-width: 1000px) {
  .separator{display: none;}
  .intro-section{
    padding: 0px;
    flex-direction: column;
    min-height: 300px;
    padding-bottom: 60px;
    .intro-one{
      padding: 20px 0px 20px 0px;
      background-color: transparent;
      .one-card{
        margin:0px;
      .button-text{font-size: .8rem;}
      }
    } 
    .intro-two{
      background-color: transparent;
    }
  } 
  .tech-section{
    padding: 60px 0px 60px 0px;
    flex-direction: column;
    min-height: 300px;
    .tech-one{
      width: 75%;
      padding: 20px 0px 20px 0px;
      background-color: transparent;
      .tech-card{
        margin:0px;
      }
    } 
    .tech-two{
      background-color: transparent;
    }
  } 
  .projects-section{
    padding: 50px;
    padding-top: 60px;
    .project-card{
      margin: 0;
      margin-bottom: 3px;
    .project-body{
      .foot{
        .tags{
          display: none;
        }
      }
    }
  }
} 
    .footer-content {
      width: 100%;
      .buttons{
        .button-text{font-size: .6rem;}
      }
    .rights{font-size: .6rem;}
  }
}

/* MEDIA QUERIES END */
@media (max-width:650px){
  .navbar {
    padding:7px 10px 7px 15px;
    .buttons{
      display: none;
    }
  }
  .intro-section{
    height: 90vh;
    margin-bottom: 50px;
    .intro-one{
      .one-card{
      width: 90%;
      }
    }
    .intro-two{
      .two-card{
      width: 90%;
    }
    }
  }
  .tech-section{
  .tech-one{
    width: 100%;
    .tech-card{
      width: 90%;
    }
  }
  }
  .projects-section{
    padding:0px;
    padding-top: 60px;
    .project-body{
      .foot{
        .buttons{
          .button-text{font-size: .6rem;}
        }
      }
    }
    .project-thumb{
      display: none;
    }
  } 
}