@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500&display=swap');

  $app-bg: rgb(130, 130, 130);
  $main-bg: rgb(110, 110, 110);

//Dark Theme


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight:200;
  font-size: 1.0rem;
}

body {
  margin: 0;
  line-height: 1.5rem;
  color: white;
  background-color: rgb(196, 196, 196);
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 1.8rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
p {
  font-size: 1.0rem;
  color: rgb(208, 208, 208);
}
span {
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* APP */

.app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:  $app-bg;
  z-index: -1;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-width: 200px;
  box-shadow: 0px 10px 10px black;
  z-index: 1;
  background-color:  $main-bg;
}

/* APP END */

@media (max-width:1000px) {
  h1 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.0rem;
  }
  span {
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}